.site-footer {
    position: relative;
    padding-top: 20px;
    background-color: #fff;
    background-size: cover;
}
.footer-widgets {
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 20px;
}
.body_width {
    margin: auto;
    max-width: 1170px;
}
.content_footer {
    display: flex;
    flex-direction: column;
}
.list_footer {
    justify-content: space-between;
    width: 1160px;
    margin: auto;
    display: flex;
    padding-top: 26px;
}
.icon_footer {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #39acfd;
}
.item_icon_ft {
    width: 25%;
}
.item_icon_ft img {
    width: 25px;
    height: 25px;
    margin: 0 auto 1em;
}
.item_icon_ft p {
    font-size: 13px;
    font-weight: 700;
    color: #3e3e44;
}
.content_about {
    width: 34.7%;
}
.about a {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
.content_infor {
    display: flex;
    width: 60%;
}
.item_infor {
    width: 33%;
}
.title_about {
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 16px;
    color: #000;
}
.about p {
    color: #333;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
}
.item_infor ul {
    margin-top: 1em;
}
.item_infor li {
    padding: 7px 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ececec;
}
.icon_arrow_ft {
    background-image: url(/images/icons/icons8-less-than-10.png);
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.item_infor a {
    color: #333;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.mxh {
    justify-content: flex-start;
}
.item_mxh {
    align-items: center;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
}
.item_mxh img {
    width: 18px;
    height: 18px;
    margin: auto;
}
.icon_mxh {
    border-radius: 50%;
}
.icon_fb {
    background: #3b589d;
}
.icon_tw {
    background: #2578ba;
}
.icon_mail {
    background: #0e0e0e;
}
.icon_pin {
    background: #cc221f;
}
.icon_yt {
    background: #c33323;
}
.copyright {
    height: 47px;
    text-align: center;
    background: #39ACFD;
}
.site-info {
    padding: 15px 0;
    color: #fff;
}
@media only screen and (max-width: 1024px) {
    .content_footer {
        padding: 0 20px;
    }
    .list_footer {
        width: 100%;
    }
    .content {
        flex-direction: column;
    }
    .content_about {
        width: 100%;
        margin-bottom: 30px;    
    }
    .content_infor {
        width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 540px) {
    .icon_footer {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .item_icon_ft {
        width: 48%;
        margin-bottom: 30px;
    }
    .content_infor {
        flex-direction: column;
    }
    .item_infor {
        width: 100%;
        margin-bottom: 25px;
    }
    .mxh {
        justify-content: space-evenly;
    }
    .copyright {
        height: auto;
        padding: 0 15px;
    }
}