* {
    font-family: Roboto,sans-serif;
}
.body_width {
    max-width: 1170px;
}
.container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
    z-index: 10;
    border-bottom: 0 solid #e8e8e8;
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    position: fixed;
}
.main_header {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.main_content {
    padding-top: 100px;
}

.header_top {
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
    display: none;
    justify-content: space-between;
    align-items: center;
    text-rendering: geometricPrecision;
    padding: 0px 20px;
}
#nav {
    transition: 0.5s;
    padding-top: 15px;
}
#logo_scroll {
    max-height: 54px;
    width: auto;
    margin-bottom: 0;
    border-radius: 10px;
    background: #fff;
}

.header_top img {
    height: 18px;
    width: auto;
}

.header_top span {
    box-shadow: 0 2px 0 #6f9a37;
    background-color: #82b440;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
}
.header_bot {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.header_menu {
    /* margin: auto; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    align-items: center;
}
.sub_menu {
    width:  100%;
}

img.img_logo_bot_header {
    width: 150px;
    margin-right: 36px;
    /* border-radius: 50%; */
}
.list_menu {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}
.list_menu li:first-child {
    margin-left: 0 !important;
}
.list_menu li:last-child {
    border: none;
}
.this_menu {
    float: left;
    position: relative;
    margin: 0 13px;
    padding: 10px 0;
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}
.icons_search {
    padding: 5px 8px;
    background: #39acfd;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
}
.icons_search:hover {
    opacity: 1;
}
.icons_search img {
    width: 16px;
    height: 19px;
}
.search {
    display: none;  
}
.search form {
    position: absolute;
    top: 50px;
    left: -250px;
    padding: 10px 15px;
    background: #39acfd;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.18);
}
#search img {
    position:absolute;
    width: 25px;
    right: 15px;
}
.cancel {
    display: none;
}
#search input {
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 5px 10px;
    color: #fff;
    background: #fff;
}
.big_item_menu {
    display: flex;
    align-items: center;
}
.big_item_menu img {
    width: 12px;
    height: 12px;
}
.big_item_menu .item_menu {
    line-height: 18px;
    font-size: 15px;
    font-weight: 700;
    padding-right: 3px;
    color: #000;
}

a.item_menu {
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.this_menu:hover .menu_con {
    visibility: visible;
}
.this_menu .menu_con {
	position: absolute;
    visibility: hidden;
	background: #fff;
	list-style: none;
	min-width: 15em;
	padding: 0;
    text-align: center;
    z-index: 1;
    top: 35px;
    left: 50%;
    margin-left: -60px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.18);
}
.this_menu .menu_con::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;   
     
}
.menu_con li {
    width: 100%;
    float: left;
    position: relative;
    padding: 10px;
}
.menu_con a {
    float: left;
    width: max-content;
    background: #fff;
    padding: 8px 15px;
    color: #777;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 10px;
}
.menu_con a:hover {
    background: #39acfd;
    color: #fff;
}
.icon_cancel {
    display: none;
}
.this_menu:hover span a {
    color: #dadada;
}

.menu_con p a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.menu_con p {
    color: #797979;
    line-height: 41px;
}

.login_header {
    border: 2px solid #797979;
}

.img_show_menu {
    display: none;
    width: 30px;
    cursor: pointer;
}
.close_menu {
    display: none;
}

.this_menu span a:hover {
    color: #dadada;
}

.menu_con p a:hover {
    color: #dadada;
}
.menu_none_pc {
    display: none;
}
.search {
    width: 25px;

}
.search:hover .search_input {
    height: 25px;
    padding: 5px 25px;
    width: 200px;
    box-shadow: 1px 2px 3px #000;

}
.form_search {
    border-radius: 5px;
    color: #fff;
    position: absolute;
    margin-top: 0;
    margin-left: 24px;
    height: 0px;
    width: 0;
}
.search_input {
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 0px;
    height: 0;
    color: #ab0609;
    position: absolute;
    transition: 0.5s;
}
@media only screen and (max-width: 1280px) {
    .header_bot {
        padding-left: 150px;
    }
    .search {
        right: 150px;
    }
}
@media only screen and (max-width: 1024px) {
    .body_width {
        max-width: 100% !important;
    }
    #logo {
        display: none !important;
    }
    #logo_scroll {
        display: block !important;
    }
    .img_show_menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        margin: 10px 0 !important;
        background: #39acfd;
    }
    .search_pc {
        display: none !important;
    }
    .close_menu {
        display: none;
    }
    .header_menu {
        height: unset;
        flex-direction: column;
        /* background: #FBFDFF; */
        width: 100%;
    }

    .header_bot {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        z-index: 201;
        padding: 10px 0;
        justify-content: space-between;
        padding-right: 20px;
        align-items: flex-start;
        padding-left: 20px;
        flex-direction: column;
        border-bottom: 1px solid #DBDBDB;
    }
    .main_header {
        position: unset;
    }
   

    .menu_con {
        position: unset;
        left: 0px;
        width: unset;
        -webkit-transform: unset;
        transition: unset;
        background: unset;
        border-left: 1.5px solid #808EA1;
        border-radius: 0;
        box-shadow: unset;
        margin-top: 20px;
        display: none;
        border: none;
        padding: 0px 30px;
        margin: 0 !important;
    }
    .icon_arrow_left {
        display: none;
    }
    .this_menu {
        flex-direction: column;
        align-items: flex-start;
        padding: unset;
        margin: 10px 0px;
        border-radius: 5px;
        border: none;
        width: 46%;
        background: none;
    }

    .this_menu span {
        padding-left: 0px;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .menu_con p {
        padding: 2px;
        margin-bottom: 5px;
        line-height: unset;
    }

    .login_header {
        border: none;
    }

    .search_jobs {
        flex-direction: column;
    }

    .this_menu span a {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .cancel {
        display: none;
    }
    .menu_con p a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #59606A;
    }
    .sub_menu {
        z-index: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 26px;
        padding-bottom: 10px;
        top: 71px;
        height: max-content;
        transition: 0.5s;
        right: 5px;
        position: absolute;
        width: 100%;
        flex-direction: column;
        background: #39acfd;
        display: none;
    }
    .list_menu {
        flex-wrap: wrap-reverse;
    }
    .icon_cancel {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .this_menu:hover {
        background: none;
    }
    .big_item_menu {
        display: flex;
        justify-content: flex-start;
        padding: 0px 10px 0 10px;
    }
    .big_item_menu .item_menu {
        color: #fff;
    }
    .big_item_menu img {
        width: 15px;
        height: 15px;
        margin: 5px;
    }
    .menu_con .fa {
        display: none;
    }
    .menu_con a {
        width: 100%;
        background: none;
        padding: 5px 8px 5px 0;
    }
    .search {
        display: none;
        width: 250px;
        top: -60px;
        position: absolute;
        right: 0;
    }
    .search img {
        display: none;
    }
    .img_search {
        display: block !important;
    }
    /* .img_search:hover .search_input {
        height: 25px;
        width: 210px;
        padding: 0 10px !important;
    } */
    .form_search {
        width: 100%;
        margin-top: 30px;
        height: 25px;
        display: flex;  
    }
    .search_input {
        font-size: 12px;
        width: 0;
        height: 25px;
        box-shadow: none;
        margin-left: 40px;
    }
    
}
@media only screen and (max-width: 540px) {
    img.img_logo_bot_header {
        width : 130px;
    }
    .img_show_menu {
        margin: 5px 0 !important;
    }
    .menu_con {
        display: none;
        border: none;
        padding: 0px 30px;
        margin: 0 !important;
    }
    .icon_arrow_left {
        display: none;
    }
    .menu_con .fa {
        display: none;
    }
    .menu_con a {
        background: none;
        padding: 5px 8px 5px 0;
    }
    .img_show_menu {
        margin: 5px 0 !important;
    }
    .search {
        display: none;
        width: 250px;
        top: 50px;
        position: absolute;
        right: 0;
        transition: 0.3s;
    }
    .search img {
        display: none;
    }
    /* .search:hover .search_input {
        height: 25px;
        width: 200px;
        padding: 0 5px !important;
    } */
    .form_search {
        width: 100%;
    }
    .search_input {
        width: 0;
        height: 25px;
        box-shadow: none;
    }
}