.container_widget {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
}
.left_content {
    width: 68%;
    padding: 0 10px;
}
.right_content {
    width: 27%;
    /* padding-left: 30px; */
}
.frist_blog {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.frist_blog img {
    width: 100%;
}
.content_first {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.65) 70%);
    bottom: 0;
    position: absolute;
    width: auto;
    padding: 40px 20px 20px;
}
.cate_first {
    margin-bottom: 10px;
}
.cate_first a {
    padding: 3px 6px;
    background-color: #39acfd69;
    color: #ffffff;
    font-size: 11px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.title_first {
    margin-bottom: 5px;
}
.title_first p {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    line-height: 1.4;
}
.date_first {
    display: flex;
}
.date_first img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.date_first .date_post {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.list_blog_top, .list_blog_bot {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-right: -30px;
}
.item_blog_top {
    margin-bottom: 30px;
    float: left;
    border-radius: 20px;
    width: 50%;
    display: flex;
}
.item_blog_home {
    padding-right: 30px;
}
.img_item_blog {
    width: 100%;
    margin-bottom: 15px;
}
.date_post {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #39acfd;
    margin-bottom: 5px;
}
.title_item_blog {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #29292f;
    height: 49px;
}
.title_item_blog:hover {
    color: #39acfd;
}
.date_item {
    display: flex;
}
.date_item_blog {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
}
.date_item img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
}
.item_blog_bot {
    margin-bottom: 30px;
    float: left;
    border-radius: 20px;
    width: 50%;
    display: flex;
}

.item_blog_bot img {
    width: 120px;
    height: 100%;
    float: left;
}
.item_blog_bot .box_content_blog {
    margin-left: 120px;
    padding-left: 15px;
}
.item_blog_bot .title_item_blog {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0 0 5px;
    letter-spacing: normal;
    height: auto;
    -webkit-line-clamp: 3;
}
.list_blog_hot {
    margin-bottom: 50px;
}
.title_blog_hot {
    background: #39acfd;
    margin-bottom: 30px;
}
.title_blog_hot p {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    white-space: nowrap;
    color: #fff;
}
.item_blog_hot {
    position: relative;
    margin-bottom: 30px;
}
.box_content_right {
    background: #fff;
    padding: 15px 30px 20px;
    margin: -60px 20px 0;
    position: relative;
    z-index: 3;
}
.cate_name_hot {
    margin-bottom: 8px;
}
.cate_name_hot a {
    font-size: 11px;
    color: #a0a0a0;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: uppercase;
}
.title_item_hot {
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto 8px;
}
.title_item_hot:hover {
    color: #39acfd;
}
.sapo_hot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: left;
    color: #3e3e44;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.sapo_hot p, .sapo_hot span {
    font-weight: unset !important;
    text-align: left !important;
}
.btn_more {
    color: #3e3e44; 
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 11px;
    margin-top: 15px;
    padding: 6px 18px;
    border: 1px solid #e0e0e0;
}
.btn_more:hover {
    background: #39acfd;
    color: #fff;
}






.title_right_content {
    background: #39acfd;
    margin-bottom: 30px;
}
.title_right_content .title_left_home {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    white-space: nowrap;
    color: #fff;
}
.this_content_right {
    position: relative;
    margin-bottom: 20px;
}
.cate_name_right {
    position: absolute;
    left: 10px;
    bottom: 105px;
    background: #39acfd69;
}
.cate_name_right a {
    padding: 0 5px;
    color: #fff;
}
.content_right_bot {
    display: block;
}
.title_blog_right {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 15px;
}
.title_blog_right p {
    text-align: left;
    letter-spacing: -.02em;
    color: #29292f;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 5px;
}
.title_blog_right p:hover {
    color: #39acfd;
}
.date_right {
    display: flex;
}
.date_right img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 3px;
}
.date_right .date_right_content {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
    .right_content {
        padding: 0 15px;
    }
    .content_first {
        width: 640px;
    }
    .title_first p {
        font-size: 20px;
    }
    
}
@media only screen and (max-width: 768px) {
    .left_content {
        width: 70%;
    }
    .right_content {
        width: 27.1%;
    }
    .content_first {
        width: 92%;
    }
    .title_item_hot {
        font-size: 18px;
    }
    .sapo_hot {
        font-size: 12px;
    }
    .sapo_hot p, .sapo_hot span {
        font-size: 12px !important;
    }
}